<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rewrite" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*.php*" negate="true" />
                    <action type="Rewrite" url="redirect.php?url={URL}" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
