/* 完全公用元素和一些常见的块 */
ol, ul, li, dl, dt, dd {
    list-style: none;
}

a { color: #222;
    text-decoration: none;
}

.page_content {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.blank5, .blank10 {
    font-size: 0px;
    line-height: 0;
    clear: both;
    overflow: hidden;
}

.cl {
    clear: both;
}

/* 公用头部 */
#head {
    width: 960px;
    height: 170px;
    position: relative;
    margin: 0 auto;
    background: url(../image/head_bg.jpg) no-repeat 0 0px;
    margin-bottom: 10px;
}

#head .logo {
    position: absolute;
    top: 12px;
    left: 0;
    width: 185px;
    height: 49px;
    background: url(static/image/logo.gif) no-repeat;
}

#head .logo a {
    text-indent: -9999px;
    width: 172px;
    height: 49px;
    display: block;
}

.tInfo {
    position: absolute;
    top: 10px;
    right: 0;
    color: #666;
}

.tInfo a {
    margin: 0 3px;
}

.uInfo {
    position: absolute;
    top: 40px;
    left: 190px;
    color: #999;
}

.search {
    position: absolute;
    top: 35px;
    right: 0px;
}

.search-form {
    float: left;
    height: 24px;
    line-height: 24px;
    background: url(layout.css) no-repeat 0 -160px;
}

.search-form li {
    float: left;
    margin: 0 0 0 3px;
    padding: 0;
    position: relative;
}

#head #navigation {
    width: 960px;
    height: 74px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    background: url(soo.gif) no-repeat 0 0;
}

#head #navigation ul {
    width: 960px;
    line-height: 33px;
    font-size: 14px;
    position: absolute;
    top: 1px;
    left: 4px;
}

#head #navigation li {
    display: block;
    height: 33px;
    overflow: hidden;
    float: left;
    padding-left: 2px;
    background: url(head.gif) no-repeat 0 -60px;
    position: relative;
    left: -2px;
}

#head #navigation li a {
    font-weight: bold;
    float: left;
    padding: 0 14px;
    color: #fff;
}

#head #submenu {
    position: absolute;
    top: 170px;
    width: 960px;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    color: #999;
    overflow: hidden;
    background: url(cmenu.gif) no-repeat 0 0;
}

#head #submenu big {
    display: block;
    float: left;
    font-size: 12px;
    height: 35px;
    font-weight: bold;
    padding-left: 35px;
    color: #333;
    background: url(layout.css) no-repeat 10px center;
}

#head #submenu a {
    margin: 0 7px;
    color: #06c;
}

#head #navigation li a:hover, #head #navigation li.selected a {
    text-decoration: none;
    background: url(head.gif) no-repeat 50% -60px;
}

/* 公用底部样式 */
.flink ul {
    width: 952px;
    height: auto;
    padding: 3px;
    border: 1px solid #97C3E5;
    border-top: none;
}
.flink li {
    float: left;
    margin: 0 6px;
    line-height: 24px;
    white-space: nowrap;
}

.footer {
    clear: both;
    width: 960px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    line-height: 25px;
    color: #666;
    font-family: Arial;
    background: url(static/image/footer_bg.png) repeat-x top;
}

.footer div a {
    margin: 0 6px;
}

.update {
    width: 480px;
    float: left;
    margin-left: 10px;
}

.serial {
    margin-bottom: 10px;
    width: 480px;
    clear: both;
    float: left;
}

.serial .tabs {
    font-size: 13px;
    color: #016A9F;
    height: 30px;
    line-height: 30px;
    background: url(sprite.png) 0 -40px no-repeat;
}

.serial .tabs h3 {
    width: 76px;
    text-indent: -9999px;
    float: left;
    padding: 0 10px;
    background: url(sprite.png) no-repeat 10px -143px;
}

.serial .tabs ul {
    float: left;
    margin-top: 6px;
}

.serial .tabs li {
    width: 70px;
    text-align: center;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    float: left;
    margin: 0 2px;
    cursor: pointer;
    background: url(sprite.png) no-repeat 0 -90px;
}

.serial .tabs a {
    color: #0071C7;
    padding: 0 10px;
}

.serial ul.details {
    width: 473px;
    padding: 3px 0 0 5px;
    border: 1px solid #97C3E5;
    border-top: none;
    display: none;
}
.serial ul.details li {
    float: left;
    width: 234px;
    border-bottom: 1px #CAD9E3 dotted;
    height: 27px;
    line-height: 27px;
    overflow: hidden;
}

.serial li span.date {
    margin-right: 3px;
    font-size: 11px;
    font-family: Arial;
}

.serial li span {
    padding: 1px;
    color: #aaa;
}

.serial li span.setnum {
    color: #080;
}

.page_content:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.box_960 {
	width: 960px;
	margin: 0 auto;
}

.box {
	border:1px #BFE6F4 solid;
}

.titbar {
    font-size: 13px;
    color: rgb(0, 113, 199);
    height: 31px;
    line-height: 31px;
    background: url(static/image/sprite.png) left top no-repeat;
}

.home-plist {
    width: 718px;
    height: auto;
    padding-bottom: 10px;
    border-width: 1px 1px 1px;
    border-style: none solid solid;
    border-color: rgb(151, 195, 229) rgb(151, 195, 229) rgb(151, 195, 229);
    border-image: initial;
    border-top: none;
    overflow: hidden;
}

.home-plist ul:after {
    clear: both;
}

.home-plist li {
    padding: 10px 3px 0 9px;
    float: left;
    width: 106px;
	list-style: none;
}

.home-plist li a {
    cursor: pointer;
}

.home-plist li img {
    width: 100px;
    height: 130px;
    padding: 2px;
    border: 1px solid #dedede;
}

.home-plist li a span {
    display: block;
    width: 106px;
    padding-top: 6px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #0071C7;
}

.home-top-new {
    width: 958px;
    height: auto;
    padding-bottom: 10px;
    border-width: 1px 1px 1px;
    border-style: none solid solid;
    border-color: rgb(151, 195, 229) rgb(151, 195, 229) rgb(151, 195, 229);
    border-image: initial;
    border-top: none;
    overflow: hidden;
}

.home-top-new dl {
    float: left;
    margin-top: 5px;
    padding: 0 0 0 15px;
    width: 144px;
    color: #666;
    background: url(static/image/home_hotline.gif) repeat-y right;
}

.home-top-new dd {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}

.home-top-new dd em {
    padding-right: 5px;
    color: #999;
    font-size: 11px;
    font-family: Arial;
}

.home-top-new dd a {
    color: #016A9F;
}


/* 详情页 */

.here {
    color: #333;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    background: #EFF8FE url(bg_repeat.png) no-repeat 0 0;
}

.here span {
    display: block;
    float: right;
    padding: 8px 10px 0 0;
    background: url(bg_repeat.png) no-repeat right -30px;
}

.here h3 {
    padding-left: 20px;
    background: url(icon.png) no-repeat 10px 12px;
}

.here h3 a {
    text-decoration: underline;
}

.here big {
    color: #008000;
    font-size: 12px;
}

.box960-top {
    background-position: 0 -400px;
}

.box960-mid-box {
    width: 958px;
    border-left: 1px solid #97C3E5;
    border-right: 1px solid #97C3E5;
    overflow: hidden;
    background: #EFF8FE;
}

.box960-top, .box960-bot, .box960-mid {
    height: 10px;
    line-height: 0;
    font-size: 0;
    background: url(sprite.png) no-repeat 0 0;
}

.box960-mid {
    height: 12px;
    background-position: 0 -450px;
}

.box960-mid-minfo {
    width: 948px;
    margin: 0 auto;
    overflow: hidden;
    border-left: 1px solid #CFE3F4;
    border-right: 1px solid #CFE3F4;
    background: #fff;
}

.cl {
    clear: both;
}

.m-info {
    padding: 7px 0 0 10px;
    width: 600px;
    float: left;
}

.m-ads {
    width: 300px;
    float: right;
    padding: 10px 10px 0 0;
}

/* 播放地址块 */
.playurl {
    padding: 5px 2px 5px 10px;
}

.playurl .bfdz {
    width: 935px;
    margin-bottom: 10px;
    max-height: 315px;
    overflow: auto;
}

.playurl .title {
    width: 918px;
    height: 30px;
    line-height: 30px;
    color: #06c;
    margin: 0 0 5px 0;
    background: url(static/image/dot_line.gif) repeat-x bottom;
}

.playurl .bfdz li {
    float: left;
    padding: 0 2px 5px;
    text-align: center;
}

.playurl .bfdz li a {
    display: block;
    width: 147px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    border: 1px solid #C9E0F8;
    background: #F7FBFF;
}

.playurl .bfdz li a:visited {
    border: 1px solid #ccc;
    background: #FDF8F0;
}

.m-intro {
    padding: 5px 15px;
}

.m-intro .ctext {
    line-height: 1.8em;
    font-size: 12px;
    color: #333;
}

/* 详情页帮助区 */

#forum_btn {
    height: 32px;
    margin-left: 5px;
    margin-top: 10px;
}

#forum_btn ul li {
    width: 68px;
    height: 30px;
    background: url(../image/yellow_btn.gif);
    text-align: center;
    float: left;
    margin-left: 30px;
    line-height: 30px;
    font-size: 16px;
}

/* 评论区 */
#comment {
    padding: 0 15px;
    overflow: hidden;
}

#comment .row {
    margin-bottom: 8px;
    border-bottom: 1px dashed #C2C3BA;
    overflow: hidden;
}

#comment .row h3 {
    height: 30px;
    margin-bottom: 8px;
    padding: 0 5px;
    overflow: hidden;
    font-size: 12px;
    color: #8D8D8D;
}

#comment .row h3 span {
    float: left;
    height: 30px;
    line-height: 30px;
}

#comment .row h3 label {
    float: right;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
}

#comment .row .con {
    padding: 0 15px;
    text-align: left;
    overflow: hidden;
}

#comment .row .con .mycon {
    line-height: 25px;
}

#comment .row .menu {
    height: 25px;
    line-height: 25px;
}

#comment .row .menu a.item3 {
    background: url(images/bg.gif) 0 -84px no-repeat;
}

#comment .row .menu a.item2 {
    background: url(images/bg.gif) 0 -37px no-repeat;
}

#comment .row .menu a.item1 {
    background: url(images/bg.gif) 0 4px no-repeat;
}

#comment .row .menu a {
    float: right;
    height: 25px;
    margin-right: 8px;
    padding-left: 15px;
}

/* 评论区底部 */
#comment_footer {
    width: 100%;
    overflow: hidden;
}

#comment_footer h5 {
    height: 30px;
    line-height: 30px;
    margin-bottom: 8px;
    padding: 8px 0 0 8px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

#comment_footer h5 span {
    font-size: 12px;
    font-weight: normal;
}

#talk {
    width: 100%;
    margin-right: 15px;
    text-align: left;
}

.isad {
    float: left;
    width: 300px;
}

#talk #uploadpic {
    width: 450px;
    padding: 5px;
    border-bottom: 0;
    display: none;
}

#talk div {
    margin: 0;
    border: 1px solid #ccc;
    background: #fff;
}

#talk #face {
    /* width: 500px; */
    padding: 5px;
    border-bottom: 0;
}

#talk #face img {
    cursor: pointer;
    margin-right: 3px;
}

#talk .tc {
    /* width: 510px; */
    border-bottom: 0;
    overflow: hidden;
}

#talk .tc textarea {
    width: 99.5%;
    height: 137px;
    border: 0;
    background: #fff;
    font-size: 12px;
}

#talk #cancel {
    /* width: 500px; */
    padding: 5px;
    display: none;
    border-bottom: 0;
}

#talk .captcha {
    /* width: 500px; */
    padding: 5px;
    border-bottom: 0;
}

#talk .captcha input {
    width: 50px;
}

#talk .captcha #getcode {
    border: 0;
    display: none;
}

#talk .btn {
    /* width: 500px; */
    padding: 5px;
}





